@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #DFF0E3; /* Soft Mint Green */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #7A9E88;
}

#question {
  font-size: 20px;
  margin-bottom: 15px;
  color: #444;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

ul li {
  background: #f8f8f8;
  margin: 8px 0;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
  color: #333;
}

ul li:hover {
  background-color: #f0f0f0;
}

ul li.selected {
  background-color: #F8E6EC;  /* Lighter pastel pink */
  border-color: #e7cbd1;
  color: #000;
}

button {
  padding: 12px 20px;
  margin-top: 20px;
  background: #7A9E88;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #64806f;
}

.hide {
  display: none;
}
